<%= render 'layouts/navbar' %>

<div class="container mb-5">
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Address</h5>
            <p class="card-text">In digital currency, an address is basically a destination where a user sends and receives digital currency. In a way, it is similar to a bank account.[1] These addressses usually include a long series of letters and numbers.</p>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Altcoin</h5>
            <p class="card-text">An altcoin is a digital currency other than bitcoin. There were more than 1,000 altcoins listed on data source CoinMarketCap at the time of this writing. Another way of describing the term "altcoin" is referring to it as an alternative protocol asset, meaning that it follows a protocol (set of rules) that's different than that of bitcoin.</p>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Arbitrage</h5>
            <p class="card-text">In crypto, arbitrage refers to taking advantage of the price difference between two different exchanges. If bitcoin is selling for £8,950 on one exchange and £9,000 on another, a trader can buy the digital currency on the first exchange and sell it on the second for a modest profit.</p>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Bear/Bearish</h5>
            <p class="card-text">"Bears" believe that an asset, for example a digital currency, will decline in value. Another way of putting this is that if a trader thinks a cryptocurrency will depreciate, their sentiment surrounding the digital asset is "bearish." In many situations, traders will make use of this expectation by taking a short position on an asset, meaning that they will make a wager that will pay off should the asset in question fall in value.</p>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Blocks</h5>
            <p class="card-text">Many digital currencies make use of blocks, which contain transactions that have been confirmed and then combined together.</p>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Blockchain</h5>
            <p class="card-text">The blockchain, which is a distributed ledger system, consists of a series of blocks. These blocks contain verified transactions. The blockchain was designed to be not only decentralised, but also immutable, meaning that entries could not be erased once placed on this distributed ledger. The idea of the blockchain was first introduced when the bitcoin white paper was released in late 2008.[3]</p>
        </div>
    </div>
</div>